# SPDX-License-Identifier: AGPL-3.0-only WITH romic-exception

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/data
    tmpDir: ../../.cache/phpstan
