# SPDX-License-Identifier: AGPL-3.0-only WITH romic-exception

includes:
    - ../extension.neon

parameters:
    level: 0
    paths:
        - data/command-class-overlap.php
    doctrineOfTheSecondSun:
        enabled: true
        commandFilePatterns:
            - '#/command-class-overlap\.php$#'
